* {
	box-sizing: border-box;
}
body {
	direction: rtl;
}
#main-form {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1, h2 {
	text-align: center; 
	margin: 5px;
}

input {
	padding: 10px;
	font-size: 17px;
	font-family: Raleway;
	border: 1px solid #aaaaaa;
}

.step-indicator {
    text-align: center;
    margin: 5px 0;
}

.step-indicator .istep {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #3bff36;
	border: none;  
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

.step {
	display: none;
}

.step.active {
	display: block;
	border: 2px #000 groove;
	border-radius: 10px;
	padding: 10px;
	background-color: #ffcb8c;
}

.step.active .section {
    border: 1px solid #c8c8c8;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffedd1;
}

.step.active .title {
	background-color: #ffa63b;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 1px 1px 1px #aeaeae;
}

.step.active .section .title {
	background-color: #fcdf8c;
}

.step.active .sub-title {
    padding: 5px;
    border-radius: 5px;
    margin: 0px 5px;
    font-size: 10px;
}
